#main-tabs{
	top:45px;
	border:0px;
	border-top:1px solid #aaaaaa;
	border-radius:0px;
	font-size: medium;
}


.ui-tabs-vertical { width: 100%; }
#main-tabs-navigation {
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	
	background: white;
	padding-top: 30px;
	padding-right: 4px; 
	width:200px;
	
}
.ui-tabs-vertical .ui-tabs-nav li { 
	clear: left; 
	width: 100%; 
	border-top:0px;
	border-bottom:0px;
	border-left:0px;
	border-right-width: 0 !important; 
}

.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
	padding-bottom: 0; 
	padding-right: .1em; 
	border-right-width: 1px; 
	background:#f5f5f5 !important;
}
 .ui-tabs-vertical .ui-tabs-nav li.ui-state-default { 
	border-bottom:0px;
	border-top:0px;
	background:white ;
} 
.ui-tabs-vertical .ui-tabs-panel { 
	position:absolute;
	top:0px;
	left:202px;
	right:0px;
	bottom:0px;
	/* padding: 5px !important; */
	border-left:5px solid #f5f5f5 !important;
	border-top:5px solid #f5f5f5 !important;
}

#existing-dataspaces-table{
	border-collapse:collapse;
	width:100%;
	table-layout: fixed;
}
#existing-dataspaces-table th{
	background-color:#aaaaaa;
}

#existing-dataspaces-table tr{
	border:1px solid #aaaaaa;	
	cursor:pointer;
}

#existing-dataspaces-table a{
	color:#11c;
}

#existing-dataspaces-table th,td{
	/* width:200px; */
	text-align: center;
}

#existing-dataspaces-table tr:nth-child(even) {background-color:white}
#existing-dataspaces-table tr:nth-child(odd) {background-color: #F5F5F5}

span.import-span{
	display:none;
	width: 60px;
	float: left;
	text-align: center;
	background-color: #f5f5f5;
	border-radius: 4px;
	margin: 2px;
	font-size: small;
	font-weight: bold;
}

span.import-span:hover{
	background-color: blue;
	color:white;
}