.query-editor-window {
  margin:0px auto;
  color:white;
}


.query-editor-box{
   text-align:left;
    display:none;
    background-color:black;
    border:solid 4px #f58400;
    font-size:14px;
	font-family:arial;
    position:fixed;
}

.query-editor-box-header {
	height:30px;
	background-color:#E8E8E8;
	margin:auto; 
}

.close-query-editor-box-icon{
	float: right;
	position:relative;
	top:3px;
}

.query-editor-form{
	position:relative;
	left:5px;
}